<% monster_map = "https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_Zt-ingcU4gRbcoK70AJKv4&key=#{ENV["GOOGLE_MONSTER_MAPS_KEY"]}" %>
<% monster_geocode = HTTParty.get("https://maps.googleapis.com/maps/api/geocode/json?address=403+S.+Elam+Greensboro+North+Carolina") %>
<% lat = monster_geocode["results"][0]["geometry"]["location"]["lat"] %>
<% lng = monster_geocode["results"][0]["geometry"]["location"]["lng"] %>
<% place_id = monster_geocode["results"][0]["place_id"] %>


<center>
<br>
<h1> ALL THE MONSTERS </h1>
<br>
<br><div>
<iframe width="700" height="550" frameborder="0" style="border:0"
  src= <%= monster_map %>
  allowfullscreen> </iframe>
</div>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Rarity</th>
    <th>Location</th>
    <th>City</th>
    <th>State</th>
  </tr>

  <% @monsters.each do |monster| %>
    <tr>
      <td><%= monster.name %></td>
      <td><%= monster.rarity %></td>
      <td><%= monster.location.try(:address) %> </td>
      <td><%= monster.location.try(:city) %> </td>
      <td><%= monster.location.try(:state) %> </td>
      <td><%= link_to "DELETE RECORD", [monster.location, monster],
                                    method: :delete,
                                    data: { confirm: "Hope you know what you're doing" } %>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "HOME", root_path %> <br>
<%= link_to "GOT A NEW LOCATION?", new_location_path %> |
<%= link_to "SEE ALL THE LOCATIONS", controller: "locations" %>

<p></p>
<br>
<p></p>
<% monster_array = [] %>
<% @monsters.each do |monster| %>
  <% monster_array << monster.location.try(:address) + "+" + monster.location.try(:city) + "+" + monster.location.try(:state) %>
<% end%>
<% monster_array.each do |monster| %>
  <% monster.gsub!(/\s/,'+') %>
<% end %>
