<% busy_location_hash = Location.group(:address).count %>
<% busiest_location = busy_location_hash.key(busy_location_hash.values.max) %>
<% busiest_address = Location.find_by_address("#{busiest_location}") %>
<% full_location = "#{busiest_address.address}+#{busiest_address.city}+#{busiest_address.state}" %>
<% full_location.gsub!(/\s/,'+') %>

<% monster_geocode = HTTParty.get("https://maps.googleapis.com/maps/api/geocode/json?address=#{full_location}") %>
<% lat = monster_geocode["results"][0]["geometry"]["location"]["lat"] %>
<% lng = monster_geocode["results"][0]["geometry"]["location"]["lng"] %>
<% place_id = monster_geocode["results"][0]["place_id"] %>
<% monster_map = "https://www.google.com/maps/embed/v1/place?q=place_id:#{place_id}&key=#{ENV["GOOGLE_MONSTER_MAPS_KEY"]}" %>

<center>

<br><div>
  <h3>This map shows the location with the most monsters caught.</h3>
<iframe width="700" height="550" frameborder="0" style="border:0"
  src= <%= monster_map %>
  allowfullscreen> </iframe>
</div>
<br>
<br>
<h1> ALL THE MONSTERS </h1>
<br>
<table>
  <tr>
    <th><%= sort_link "name" %></th>
    <th><%= sort_link "rarity" %></th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
  </tr>

  <% @monsters.each do |monster| %>
  <% this_address = monster.location.try(:address) %>
    <tr>
      <td><%= monster.name %></td>
      <td><%= monster.rarity %></td>
      <td><%= this_address %> </td>
      <td><%= monster.location.try(:city) %> </td>
      <td><%= monster.location.try(:state) %> </td>
      <td><%= link_to "DELETE RECORD", [monster.location, monster],
                                    method: :delete,
                                    data: { confirm: "Hope you know what you're doing" } %>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "HOME", root_path %> <br>
<%= link_to "GOT A NEW LOCATION?", new_location_path %> |
<%= link_to "SEE ALL THE LOCATIONS", controller: "locations" %>

<p></p>
<br>
<p></p>
<% monster_array = [] %>
<% @monsters.each do |monster| %>
  <% monster_array << monster.location.try(:address) + "+" + monster.location.try(:city) + "+" + monster.location.try(:state) %>
<% end%>
<% monster_array.each do |monster| %>
  <% monster.gsub!(/\s/,'+') %>
<% end %>
