<center>

<% busy_location_hash = Location.group(:address).count %>
<% busiest_location = busy_location_hash.key(busy_location_hash.values.max) %>
<% busiest_address = Location.find_by_address("#{busiest_location}") %>
<% full_location = "#{busiest_address.address}+#{busiest_address.city}+#{busiest_address.state}" %>
<% full_location.gsub!(/\s/,'+') %>
<% location_geocode = HTTParty.get("https://maps.googleapis.com/maps/api/geocode/json?address=#{full_location}") %>
<% lat = location_geocode["results"][0]["geometry"]["location"]["lat"] %>
<% lng = location_geocode["results"][0]["geometry"]["location"]["lng"] %>
<% place_id = location_geocode["results"][0]["place_id"] %>
<% location_map = "https://www.google.com/maps/embed/v1/place?q=place_id:#{place_id}&key=#{ENV["GOOGLE_MONSTER_MAPS_KEY"]}" %>

<h3>This map shows the location where the most copyrighted monsters have been caught.</h3>
<iframe width="700" height="550" frameborder="0" style="border:0"
  src= <%= location_map %>
  allowfullscreen> </iframe>
</div>
<br>
</center>

<h1> ALL THE LOCATIONS </h1>
<p> Click an address to see a map of the area and the monsters living there.</p>
<br>
<table>
  <tr>
    <th><%= sort_link "address" %></th>
    <th><%= sort_link "name" %></th>
    <th><%= sort_link "city" %></th>
    <th><%= sort_link "state" %></th>
    <th><%= sort_link "checkpoint" %></th>
  </tr>

  <% @locations.each do |location| %>
  <% this_address = location.address %>
    <td>  |  <%= link_to "#{this_address}", location_path(location) %></td>
    <td>  |  <%= location.name %></td>
    <td>  |  <%= location.city %></td>
    <td>  |  <%= location.state %></td>
    <td>  |  <%= location.checkpoint %></td>
    <td>  |  <%= link_to 'EDIT', edit_location_path(location) %></td>
    <td>  |  <%= link_to 'Destroy', location_path(location),
            method: :delete,
            data: { confirm: "OK, well, be careful, I guess" } %> </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to "HOME", root_path %> <br>
<%= link_to "GOT A NEW LOCATION?", new_location_path %> |
<%= link_to "SEE ALL THE MONSTERS", monsters_path %>
<p></p>
<br>
<p></p>
