
<br>

<h1> ALL THE LOCATIONS </h1>

<table>
  <tr>
    <th><%= sort_link "address" %></th>
    <th><%= sort_link "name" %></th>
    <th><%= sort_link "City" %></th>
    <th><%= sort_link "State" %></th>
    <th><%= sort_link "Checkpoint" %></th>
  </tr>

  <% @locations.each do |location| %>
  <% this_address = location.address %>
    <td><%= link_to "#{this_address}", location_path(location) %></td>
    <td><%= location.name %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.checkpoint %></td>
    <td><%= link_to 'EDIT', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location_path(location),
            method: :delete,
            data: { confirm: "OK, well, be careful, I guess" } %> </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to "HOME", root_path %> <br>
<%= link_to "GOT A NEW LOCATION?", new_location_path %> |
<%= link_to "SEE ALL THE MONSTERS", monsters_path %>
