<center>

<br>
<h1> YOU ARE HERE </h1>
<p>
  <strong>ADDRESS</stong>
  <%= @location.address %>
</p>

<p>
  <strong>NAME</strong>
  <%= @location.name %>
</p>

<p>
  <strong>CHECKPOINT?</strong>
  <%= @location.checkpoint %>
</p>

<p>
  <strong>CITY</strong>
  <%= @location.city %>
</p>

<p>
  <strong>STATE</strong>
  <%= @location.state %>
</p>

<h2> SO ARE SOME MONSTERS </h2>
----------
<% @location.monsters.each do |monster| %>
  <p>
    <strong>Name</strong>
    <%= monster.name %>
  </p>
  <p>
    <strong>Rarity</strong>
    <%= monster.rarity %>
  </p>
----------<br>
<% end %>

<h3>ADD A MONSTER?</h3>
<%= form_for ([@location, @location.monsters.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.select :name, [["Abra"], ["Aerodactyl"], ["Alakazam"], ["Arbok"],
                 ["Arcanine"], ["Articuno"], ["Beedrill"], ["Bellsprout"],
                 ["Blastoise"], ["Bulbasaur"], ["Butterfree"], ["Caterpie"],
                 ["Chansey"], ["Charizard"], ["Charmander"], ["Charmeleon"],
                 ["Clefable"], ["Clefairy"], ["Cloyster"], ["Cubone"],
                 ["Dewgong"], ["Diglett"], ["Ditto"], ["Dodrio"], ["Doduo"],
                 ["Dragonair"], ["Dragonite"], ["Dratini"], ["Drowzee"],
                 ["Dugtrio"], ["Eevee"], ["Ekans"], ["Electabuzz"],
                 ["Electrode"], ["Exeggcute"], ["Exeggutor"], ["Farfetch'd"],
                 ["Fearow"], ["Flareon"], ["Gastly"], ["Gengar"], ["Geodude"],
                 ["Gloom"], ["Golbat"], ["Goldeen"], ["Golduck"], ["Golem"],
                 ["Graveler"], ["Grimer"], ["Growlithe"], ["Gyarados"],
                 ["Haunter"], ["Hitmonchan"], ["Hitmonlee"], ["Horsea"],
                 ["Hypno"], ["Ivysaur"], ["Jigglypuff"], ["Jolteon"], ["Jynx"],
                 ["Kabuto"], ["Kabutops"], ["Kadabra"], ["Kakuna"],
                 ["Kangaskhan"], ["Kingler"], ["Koffing"], ["Krabby"],
                 ["Lapras"], ["Lickitung"], ["Machamp"], ["Machoke"],
                 ["Machop"], ["Magikarp"], ["Magmar"], ["Magnemite"],
                 ["Magneton"], ["Mankey"], ["Marowak"], ["Meowth"], ["Metapod"],
                 ["Mew"], ["Mewtwo"], ["Moltres"], ["Mr. Mime"], ["Muk"],
                 ["Nidoking"], ["Nidoqueen"], ["Nidoran F"], ["Nidoran M"],
                 ["Nidorina"], ["Nidorino"], ["Ninetales"], ["Oddish"],
                 ["Omanyte"], ["Omastar"], ["Onix"], ["Paras"], ["Parasect"],
                 ["Persian"], ["Pidgeot"], ["Pidgeotto"], ["Pidgey"],
                 ["Pikachu"], ["Pinsir"], ["Poliwag"], ["Poliwhirl"],
                 ["Poliwrath"], ["Ponyta"], ["Porygon"], ["Primeape"],
                 ["Psyduck"], ["Raichu"], ["Rapidash"], ["Raticate"],
                 ["Rattata"], ["Rhydon"], ["Rhyhorn"], ["Sandshrew"],
                 ["Sandslash"], ["Scyther"], ["Seadra"], ["Seaking"],
                 ["Seel"], ["Shellder"], ["Slowbro"], ["Slowpoke"],
                 ["Snorlax"], ["Spearow"], ["Squirtle"], ["Starmie"],
                 ["Staryu"], ["Tangela"], ["Tauros"], ["Tentacool"],
                 ["Tentacruel"], ["Vaporeon"], ["Venomoth"], ["Venonat"],
                 ["Venusaur"], ["Victreebel"], ["Vileplume"], ["Voltorb"],
                 ["Vulpix"], ["Wartortle"], ["Weedle"], ["Weepinbell"],
                 ["Weezing"], ["Wigglytuff"], ["Zapdos"], ["Zubat"]] %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<td><%= link_to 'EDIT', edit_location_path %></td> <br>
<td><%= link_to 'SEE ALL THE LOCATIONS', locations_path %></td> |
<td><%= link_to 'SEE ALL THE MONSTERS', monsters_path %>

</center>
